/* General Styles */
.iotw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-inline: 30px;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}

.iotw-container h1 {
    font-family: 'Cinzel', 'sans-serif';
    font-weight: 900;
    text-align: center;
    line-height: 53.92px;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 25px auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.flex-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* iotw Blocks */
.iotw-block {
    width: 15%;
    aspect-ratio: 2/3;
    border: 1px solid #F3DCFF80;
    border-radius: 20px;
    margin: 25px;
    cursor: pointer;
}

.iotw-block img {
    transition: transform 0.5s ease-out;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.iotw-block-ls a {
    position: relative;
}
.iotw-block-ls p {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  text-align: center;
} 

.iotw-block-ls img {
    filter: blur(5px);
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .flex-container {
        width: 100%;
        padding: 0;
    }

    .iotw-block {
        width: 30%;
        margin: 15px 0;
    }
}

@media (max-width: 480px) {
    
    .iotw-container h1 {
        font-size: 28px;
        line-height: 40px;
    }

    .flex-container {
        overflow: auto;
    }

    .iotw-block {
        width: 250px;
        height: 150px;
        margin: 15px 0;
    }
}